body{
  height: 100vh;
  overflow: hidden;
}
.app{
  height: 100vh;
  overflow: hidden;
}
.flex-column{
  flex-direction: column;
}
.flex-grow{
  display: flex;
  flex-grow: 1;
}
.content{
  margin: 0px 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 60px);
}
.left-side-panel {
  width: 360px;
  min-width: 360px;
  border-right: 1px solid #DDDDDD;
  overflow-y: scroll;
  height: 100vh;
  margin-right: 0px !important;
  padding: 20px;
}
.right-side-panel{
  width: 500px;
  min-width: 500px;
  border-left: 1px solid #DDDDDD;
  overflow-y: scroll;
  height: 100vh;
  margin-right: 0px !important;
  padding: 20px;
}
.additional-image{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.questions{
  display: flex;
  padding-bottom: 50px;
  max-width: 400px;
  min-width: 200px;
}

.photo-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.listing-info{
  margin-right: 20px;
}

.image-container{
  width: 210px;
  height: 210px;
  padding-top: 5px;
  padding-left: 5px;
  overflow: hidden;
}
.image-container.selected{
  background-color: red;
}

.image{
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.grod-container{
  grid-gap: 20px 20px;
}

.text{
background-color: #ececec;
padding: 30px;
font-size: 20px;
overflow: auto;
font-style: italic;
}

.sticky{
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar{
 padding: 10px;
 border-bottom: 1px solid #e8e8e8;
}

.btn{
background-color: aqua
}
.btn:visited{
background-color: yellow
}
.btn:hover {
background-color: skyblue
}
.btn:active{
background-color: pink;
}
.btn:focus{
background-color: pink;
}
#questions{
padding: 10px;
overflow-y: auto;
height: 100%;
}
.label{
color: #717171;
}
.question{
margin-bottom: 15px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
border-color: #03a9f4 !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
border-color: #03a9f4 !important;
background-color: #03a9f4 !important;

}

input.materialize-textarea:focus:not([readonly]) {
border-color: #03a9f4 !important;
}

.header-container {
  display: flex;
  align-items: center; 
  padding: 10px 0; 
  margin-left: 20px;
}

.home-icon {
  color: #9b9b9b;
  cursor: pointer; 
  margin-right: 20px;
}

.back-icon {
  color: 9b9b9b; 
  margin-left: 5px;
  opacity: 0.2;
}

.button-default {
  opacity: 1;
  cursor: pointer;
}

.header-title {
  color: #717171;
  padding: 0px 10px;
}

.next-icon {
  color: #9b9b9b; 
  margin-left: -5px; 
  opacity: 0.2; 
}

.listing-title {
  display:flex;
  flex-direction:column;
}

.listing-header {
  display:flex;
  flex-direction:row;
  flex-grow:1;
  align-items:flex-end;
  padding-bottom:10px;
}

.image-selected {
  border: 5px solid red;
}

.skip-button {
  background-color: white; 
  color: black; 
  margin-right: 10px; 
  width: 100%; 
}

.submit-button {
  background-color: #03a9f4;
  width: 100%; 
}

.listing-info-container {
  display:flex;
  flex-direction:row;
  flex-grow:1;
  align-items:flex-end;
  padding-bottom:10px;
}

.margin-bottom {
  margin-bottom: 20px;
}

label {
  font-weight: 800;
  font-size: 18px;
}